PLAYWRIGHT_USERS={"standardUsers":[{"email":"standard_user","password":"secret_sauce","role":"standard_user"}, {"email":"standard_user","password":"secret_sauce","role":"special_user"}],"problemUsers":[{"email":"problem_user","password":"secret_sauce","role":"problem_user"}]}
PLAYWRIGHT_BASE_URL=https://www.saucedemo.com